

html{
    font-size: 62.5%;
}
:root {
    --dark-shadow: #29455a;
    --light-shadow: #b5c2c2;
    --primary: #fff;
    --secondary: #23395b;
    --accent-pink: #d81e5b;
    --accent-mustard: #f7c550;
    --gradient: linear-gradient(90deg,var(--secondary) -10%,var(--accent-pink) 30%,var(--accent-mustard));
    --glass-gradient: linear-gradient(to right bottom,rgba(14,22,36,0.2),rgba(216,30,91,0.2),rgba(97,77,31,0.2));
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div{
    display: block;
}
.App {
    text-align: center;
    align-items: center;
    overflow: hidden;
    color: var(--secondary);
    font-family: "Nanum Gothic",sans-serif;
}
.appbar, .slider {
    z-index: 9;
    display: flex;
    background-color: var(--secondary);
}
.appbar {
    position: fixed;
    width: 100%;
    color: #ffff;
    padding: 0 15px 0 5px;
    justify-content: space-between;
    box-shadow: 0 1px 6px #000;
    font-size: 100%;
}
.home, .home b {
    font-size: 30px;
}
.home {
    text-align: center;
    font-style: normal;
    padding: 10px;
    color: var(--primary);
    text-decoration: none;
}
.slider {
    height: 70px;
    justify-content: center;
    align-items: center;
}
.appbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    font-size: 15px;
}
.material{
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 1.5rem;
    flex-shrink: 0;
    user-select: none;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
svg:not(:root) {
    overflow: hidden;
}
#logo-name {
    color: var(--secondary);
    font-size: 7rem;
    text-align: left;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
#q-code {
    width: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    border-radius: 50px;
    transition: width .8s ease-in-out;
    border: 2px solid #404a5e;
}
a{
    color: white;
}
#container
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
    /* margin: 30px 0; */
    flex-direction: column;
    align-items: center;
    padding: 10px 95px 48px;
}
#title{
    font-size: 2.5rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
#insureBtn button{
    outline: none;
    border: none;
    font-size: 3.75rem;
    width: 70%;
    color: #fff;
    background:#5660DC;
}
#insureBtn{
    background: #5660DC;
    padding: 2.5rem 1rem;
    display: grid;
    justify-items: center;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
#details p{
    font-size:3.5rem;
    font-weight: 700;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    width: 90%;
    text-align: center;
    border: .25rem solid #5E0FC0;
    border-left: 1rem solid #5E0FC0;
}
#details{
    width: 100%;
    display: grid;
    gap: 2rem;
}
#info p{
    font-size: 3rem;
    color: #fff;
}
#info{
    padding-top: 2rem;
    display: grid;
    gap: .5rem;
}
#infoDiv{
    background: #4E78DB;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 3rem 4rem;
}
#infoDiv #circle{
    width: 13rem;
    height: 13rem;
    background: #fff;
    border-radius: 50%;
}
#card{
    position: relative;
    width: 80%;
}
#bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-50%);
}
@media (min-width:770px) {
    #title{
        font-size: 2rem;
    }
    #insureBtn button{
        font-size: 2.5rem;
    }
    #insureBtn{
        padding: 1rem .5rem;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
    }
    #details p{
        font-size:2.5rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
        border-left: .7rem solid #5E0FC0;
    }
    #details{
        width: 50%;
        gap: 1.5rem;
    }
    #info p{
        font-size: 2rem;
    }
    #info{
        padding-top: 1rem;
    }
    #infoDiv{
        background: #4E78DB;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 2rem;
        padding: 2rem 3rem;
    }
    #infoDiv #circle{
        width: 10rem;
        height:10rem;
        background: #fff;
        border-radius: 50%;
    }
    #card{
        position: relative;
        width: 31%;
    }
    #bg{
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-52%,-50%);
    }
}
a{
    text-decoration: none;
}
#tra
{
    color: black;
}